<!DOCTYPE html>
<html>
<head>
	<title>Delete</title>
</head>
<body>
	<form action="/students/delete" method="POST">
		<input type="text" name="name" placeholder="name">
		<button type="submit">Delete</button>	
	</form>
</body>
</html>