#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	border-radius: 5px;
	padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
}

.small-text {
	font-size: .8em;
}

li:first-child{
	background-color: red;
}

ol li:first-child {
	font-size: 1.5em;
}