<!DOCTYPE html>
<html>
<head>

	<title>JQuery Testing</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
<p class = "first">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae felis tellus. Sed mollis tempus egestas. Nam pellentesque gravida purus in scelerisque. Phasellus est ligula, placerat in mauris vitae, venenatis ultrices dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod fermentum metus, a interdum erat sodales nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin sit amet massa lobortis metus fermentum fermentum. Sed a arcu sit amet eros venenatis malesuada.

Vestibulum tortor turpis, tristique non odio eget, accumsan condimentum urna. Sed ipsum lorem, vehicula id ante ac, euismod gravida nunc. Quisque eget mi quis massa tempor finibus. Sed lectus urna, porta in metus convallis, venenatis viverra nibh. Praesent libero eros, faucibus sit amet euismod vel, rhoncus at enim. Sed fermentum dolor augue, a commodo odio efficitur quis. Vestibulum ligula ipsum, malesuada a velit vel, placerat tempus dolor. Pellentesque non sem sed ex commodo dictum vitae dapibus est. Phasellus dictum risus nec ligula feugiat efficitur. Mauris non neque mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eleifend arcu et nulla auctor, eu dignissim nunc vestibulum. Pellentesque scelerisque arcu orci, at tristique velit accumsan vitae. Maecenas bibendum suscipit posuere.

 </p>
<p id="only"> 
Vestibulum at ipsum erat. Suspendisse et egestas justo. Mauris at odio ac nulla hendrerit tristique quis et dui. Nullam sed bibendum lectus. Ut faucibus turpis purus, sed mattis eros lacinia sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse nec orci nec mauris luctus elementum. Sed rutrum odio ac arcu condimentum, a gravida odio fringilla. Etiam sit amet dolor odio. Maecenas euismod urna feugiat odio porta, et scelerisque nulla tristique. Quisque pellentesque, nisl quis interdum ultricies, lacus ex aliquet magna, id euismod ligula nibh a felis. Aliquam scelerisque vel nibh non sodales.

Nulla malesuada orci elit. Donec a velit vel nisl cursus suscipit. Suspendisse suscipit, sem vel lobortis iaculis, elit leo eleifend lectus, sit amet posuere mi enim at ante. Nam iaculis mauris augue, non viverra neque pretium id. Cras a nulla vitae nulla malesuada pretium id vel nibh. Sed condimentum leo a gravida ultrices. Pellentesque semper bibendum lectus lacinia pellentesque. Nullam hendrerit sapien et imperdiet aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean facilisis diam id imperdiet mollis.</p>
<div>
Aliquam condimentum, augue a faucibus mattis, nulla tortor blandit nulla, sit amet scelerisque mi elit sed tortor. Nulla ac viverra risus. Praesent porttitor, lacus non tincidunt tempus, arcu orci aliquam dolor, a vestibulum risus purus in ipsum. Duis hendrerit nibh sed posuere accumsan. Donec felis est, interdum semper nisl vel, aliquam varius justo. Morbi vel erat justo. Donec interdum urna non sapien placerat bibendum. Maecenas pulvinar sagittis risus, sed interdum magna porta ac. Ut eu magna eleifend, blandit metus eget, iaculis nulla. Cras nulla tortor, vulputate sit amet posuere vel, fermentum eget tellus. Cras vitae porta mi. In vulputate finibus ante, ac interdum purus pharetra ac. Suspendisse tincidunt quis ex sit amet efficitur. Mauris ac aliquet orci. Donec tincidunt purus ut dui condimentum, eu tincidunt diam faucibus. Vivamus sit amet odio sodales lacus luctus congue.</div>
<div></div>
<ul>
	<li>
		"first item"
	</li>

	<li>
		"second item"
	</li>
</ul>
"test"
</body>
</html>